$FontAwesomePath: "./fonts" !default;


@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/bootstrap-sass/lib/bootstrap";
@import "bower_components/bootstrap-sass/lib/responsive";


/* Put your CSS here */

textarea {
	width: 90%
}

ul.nav li:hover{
	cursor: pointer;
}

footer {
	padding: 20px;

	a{
		line-height: 32px;
		height: 22px;
		width: 22px;
		display: inline-block;
		cursor: default;
		
	}
	a:hover{
		text-decoration: none;
	}
	i{
		color: #000;
		cursor: pointer;
	}
	/*i:hover{
		font-size: 1.5em;
	}*/
}







