$FontAwesomePath: "./fonts" !default;


@import "bower_components/font-awesome/scss/font-awesome";
@import "vendor/css/docs";
@import "vendor/css/custom";
@import "vendor/css/prettify";
@import "vendor/css/bootstrap";
@import "vendor/css/bootstrap-responsive";
@import "vendor/css/color-nytimes";

/* Put your CSS here */

textarea {
	width: 90%
}

footer {
	padding: 20px;

	a{
		line-height: 32px;
		height: 22px;
		width: 22px;
		display: inline-block;
		cursor: default;
		
	}
	a:hover{
		text-decoration: none;
	}
	i{
		color: #000;
		cursor: pointer;
	}
	i:hover{
		font-size: 1.5em;
	}
}







