<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">JDivock.com</a>
		<ul class="nav">
			<li class="active">{{#linkTo 'blag' activeClass="active"}}Home{{/linkTo}}</li>
			<li class="disabled">{{#linkTo 'blag' activeClass="active"}}Blag{{/linkTo}}</li>
			<li class="disabled">{{#linkTo 'multipost' activeClass="active"}}MultiPost{{/linkTo}}</li>
		</ul>
	</div>
</div>

{{outlet}}


<footer class="footer">
Built with node and ember and probably a little broken at the moment.
</footer>