<h3>MultiPost</h3>

<div class="row">
	<form>
		<div class="span6">
			<textarea rows=10></textarea>
		</div>

		<div class="span6">
			<div class="control-group">
			    <div class="controls">
			      <label class="checkbox">
			        <input type="checkbox"> Tumblr
			      </label>
			      <label class="checkbox">
			        <input type="checkbox"> Evernote
			      </label>
			      <label class="checkbox">
			        <input type="checkbox"> MyBB
			      </label>
			    </div>
		  	</div>
		</div>
	</form>
</div>


		<div class="form-actions">
		  <button type="submit" class="btn btn-primary">Submit</button>
		  <button type="button" class="btn">Cancel</button>
		</div>
